{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title">Bem vindo ao Ideal Status</h2>

        {% if current_user.is_authenticated %}
        <div class="columns">
            <div class="column is-4">
                <input type="text" id="buscar" class="input" placeholder="Digite a url do site">
            </div>
            <div class="column is-2">
                <div class="alert alert-danger mb-0" role="alert">
                    <button type="button" class="button is-danger is-fullwidth">Erro: <span style="margin-left: 5px;" id="errorSitesCount">0</span></button>
                </div>
            </div>
            <div class="column is-2">
                <div class="alert alert-success mb-0" role="alert">
                    <button type="button" class="button is-success is-fullwidth">Ok: <span style="margin-left: 5px;" id="okSitesCount">0</span></button>
                </div>
            </div>
            <div class="column is-2">
                <div class="alert alert-primary mb-0" role="alert">
                    <button type="button" class="button is-info is-fullwidth">Total: <span style="margin-left: 5px;" id="allSitesCount">{{data}}</span></button>
                </div>
            </div>
            <div class="column is-2">
                <button type="button" class="button is-primary is-fullwidth" id="verify">Verificar</button>
            </div>
        </div>
        
        <div class="columns">
            <div class="column">
                <progress class="progress is-primary" value="0" max="100">15%</progress>
            </div>
        </div>




        <table class="table is-bordered is-narrow is-fullwidth">
            <thead class="has-background-dark">
                <tr>
                    <th class="has-text-light">URL</th>
                    <th class="has-text-light">STATUS</th>
                </tr>
            </thead>
            <tbody id="sitesTableError">
            
            </tbody>
            <tbody id="sitesTable">
            
            </tbody>
        </table>
        {% else %}
        <p class="subtitle"><a href="{{ url_for('auth.signup') }}">Cadastre-se</a> ou faça o <a href="{{ url_for('auth.login') }}">login</a> para começar a usar.</p>
        {% endif %}


        
    </div>
</section>
{% endblock %}
