{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title">Painel administrativo</h2>
        <form action="{{ url_for('main.new_projeto') }}" method="POST" style="margin-bottom: 20px;">
            <div class="columns">
                <div class="column is-3">
                    <div class="field">
                        <div class="control">
                          <div class="select is-fullwidth">
                            <select name="protocol" required>
                                <option value="">Protocolo</option>  
                                <option value="http://">http://</option>
                                <option value="https://">https://</option>
                            </select>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="column is-6">
                    <input name="url" class="input" type="text" placeholder="Url (site.com.br)" required>
                </div>
                <div class="column is-3">
                    <button type="submit" class="button is-fullwidth is-primary">Adicionar</button>
                </div>
            </div>
        </form>
        <table class="table is-bordered is-narrow is-fullwidth">
            <thead class="has-background-dark">
                <tr>
                    <th class="has-text-light">ID</th>
                    <th class="has-text-light">PROTOCOLO</th>
                    <th class="has-text-light">URL</th>
                    <th class="has-text-light">DATA</th>
                    <th class="has-text-light">AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                {% if projetos %}
                    {% for projeto in projetos %}
                    <form action="{{ url_for('main.edit_projeto', projeto_id=projeto.id) }}" method="POST">
                        <tr>
                            <td>{{projeto.id}}</td>
                            <td>
                                <div class="select is-fullwidth">
                                    <select name="protocol" class="painelProtocol" data-selected="{{projeto.protocol}}" required disabled>
                                        <option value="">Protocolo</option>  
                                        <option value="http://">http://</option>
                                        <option value="https://">https://</option>
                                    </select>
                                  </div>
                            </td>
                            <td><input name="url" class="input" type="text" placeholder="Url (site.com.br)" value="{{projeto.url}}" required disabled></td>
                            <td>{{projeto.date_posted.strftime('%d/%m/%Y às %H:%M')}}</td>
                            <td><input type="submit" value="Salvar" class="painelSalvar button is-success"> <a href="#" class="painelEditar button is-info">Editar</a> <a href="{{ url_for('main.delete_projeto', projeto_id=projeto.id) }}" class="button is-danger">Excluir</a></td>
                        </tr>
                    </form>
                    {% endfor %}
                {% endif %}
                
            </tbody>
        </table>
    </div>
</section>
{% endblock %}


<table class="table is-bordered is-narrow is-fullwidth">
    <thead class="has-background-dark">
        <tr>
            <th class="has-text-light">URL</th>
            <th class="has-text-light">STATUS</th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>